/* Scss Document */
@import url('https://fonts.googleapis.com/css?family=Gochi+Hand|Oswald|Roboto:300,300i,400&display=swap');

 
$Roboto: 'Roboto', sans-serif;
$Oswald: 'Oswald', sans-serif;
$Handwritten: 'Gochi Hand', cursive;
$yellow: rgba(243,233,166,1.00);
$burgandy: #983222;
$lightgray: #F2F2F2;
$ltmedgray: #C8C5C5;
$medgray: #A5A5A5;
$drkmedgray: #8F8B90;
$darkgray: #5D595E;
$footer-height: 40px;


html {
    min-height: 100%;
    position: relative;
}
body {
	font-family: $Roboto;
    color: $darkgray;
	background-color: $lightgray;
	position: relative;
}
.wrap-800 {
	max-width: 800px;
	margin: 0 auto;
	background-color: #fff;
	.container-fluid {
		margin: 0;
		padding: 0;
	}
}
.wrap-1170 {
	max-width: 1170px;
	margin: 0 auto;
	background-color: #fff;
}
.section {
	display: block;
	clear: both;
}
.content {
	max-width: 100%;
	margin: 0 auto;
	padding: 0 10px 10px 10px;
	position: relative;
	p .row {
		margin-top: 30px;
	}
}
.graybg {
	background-color: $lightgray;
}
.grnbg {
	background-color: #C7DED5;
}
.tanbg {
	background-color: $lightgray;
}
#user-test {
	.wrap-1170, .wrap-800 {
		background-color: $lightgray
	}
}
.rev {
	color: #fff;
	text-align: center;
	a, a:hover {
		color: #fff;
	}
}
a:hover {
	color: $burgandy;
	text-decoration: none;
}
p {
	font-family: $Roboto;
	font-size: 15px;
    font-weight: 300;
	text-align: left;
	line-height: 1.3rem;
	margin-bottom: .6rem;
}
p.small {
	font-size: 13px;
	line-height: 1rem;	
	font-weight: 300;
	font-style: italic;
	text-align: center;
	margin: 0 auto;
	padding: 0 15px;
	max-width: 320px;
}
h1 {
	font-family: $Oswald;
	font-size: 26px;
	font-weight: 300;
    text-transform: uppercase;
	line-height: 1.6rem;
    letter-spacing: 2px;
	color: $burgandy;
	display: inline-block;
	margin-bottom: .3rem;
}
h2 {
	font-size: 20px;
	font-weight: 400;
	line-height: 1.4rem;
	text-align: left;
	color: $darkgray;
	margin-top: 1rem;
//	margin-bottom: 1.2rem;
}
h3 {
	font-family: $Oswald;
	font-size: 40px;
	text-transform: uppercase;
	text-align: center;
	color: $burgandy;
	margin: 0 auto;
}
h4 {
	font-size: 21px;
	line-height: 1.1rem;
	text-align: left;
	color: $darkgray;
	margin-bottom: .4rem;
}
h4:first-of-type {
	margin-top: 1rem;
}
a {
	color: $darkgray;
	text-decoration: underline;
}
.normal-weight {
	font-weight: 400;
}
.first-letter {
	font-family: $Roboto;
	font-size: 50px;
	text-transform: uppercase;
	line-height: 1.8rem;
	color: $ltmedgray;
	float: left;
	padding: 0 4px 5px 0;
}
blockquote.blockquote {
	p {
		font-size: .7rem;
		line-height: 1.1rem;
		color: #fff;
		background-color: rgba(255,255,255,0.15);
		text-align: center;
		max-width: 80%;
		margin: 0 auto 0;
		padding: 10px;
		display: inline-block;
		vertical-align: middle;
	}
	a, a:hover {
		color: #fff;
	}
	footer.blockquote-footer {
		font-size: .6rem;
		color: #fff;
		padding: 0;
		background-color: transparent;
		margin-top: 3px;
	}
	.bracket {
		font-family: Roboto;
		font-size: 4rem;
		color: $medgray;
		margin: 0;
		display: inline-block;
		vertical-align: middle;
	}
	.bracket.right {
		margin: 5px;
	}
}
.linebreak {
	color: $medgray;
	padding: 0 5px;
}
.marquee {
	animation-timing-function: ease-in-out;
}
.shadow-text {
	text-align: center;
	letter-spacing: 10px;
	margin: 2rem auto 0 auto;
	position: relative;
	p {
		font-family: $Roboto;
		font-size: 30px;
		letter-spacing: 2px;
		text-transform: uppercase;
		text-align: center;
		color: $medgray;
		display: inline;
		padding: 0 10px;
		margin: 0;
		text-shadow: 0 0 4px rgba(0, 0, 0, 0.8);
	}
}
img {
	max-width: 100%;
	margin-bottom: 10px;
	border-radius: 3px;
	&.shadow {
		box-shadow: 0 -0.2rem 1rem rgba(0, 0, 0, 0.25)!important;
	}
}
.img-full {
	background-color: $darkgray;
	padding: 20px 10px 10px 10px;
	margin-top: 10px;
	position: relative;
    top: -60px;
	.content {
		margin-top: -30px;
		img {
			margin: 0 auto 10px auto;
			align-self: flex-start;
		}
		img.addy.shadow.shadow-drop-top {
			margin-bottom: 0!important;
			padding-bottom: 0;
			max-width: 20%;
			float: right;
		}
		.col-md-12 {
			text-align: center;
		}
		.wrap-800 {
			background-color: transparent;
			h2 {
				margin-top: .2rem;
			}
		}
	}
	h2 {
		font-size: 14px;
		font-weight: 400;
		color: #fff;
		margin-top: -.4rem;
		padding-bottom: 10px;
	}
}
.intro-block {
	padding: 40px 10px 5px 10px;
	position: relative;
	.intro-heading {
		border-bottom: 1px solid $medgray;
		display: block;
		margin-bottom: 0;
		margin-top: 3rem;
		position: relative;
		h1 {
			text-align: left;
            margin-top: .3rem;
		}
		h2 {
			text-align: left;
			margin: 0;
		}
		.navigation {
			text-align: center;
			margin: 0 auto;
			background-color: #fff;
			padding: 5px 0;
			top: 0;
			left: 0;
			right: 0;
			position: fixed;
			z-index: 999;
			box-shadow: 0 3px 6px 0px rgba(0, 0, 0, 0.1);
			img, img.inactive, img:hover {
				display: inline-block;
				width: 32px;
				height: 32px;
				margin: 0 1px;
			}
			img:hover {
				box-shadow: 0 0 1px 2px $yellow;
			}
			img.inactive, img.inactive:hover {
				opacity: 0.4;
				cursor: default;
			}
            a {
                font-family: $Oswald;
            }
		}
	}
	p.small {
		display: inline-block;
		clear: both;
	}
}
#home {
	.wrap-800 {
		background-color: $darkgray;
		color:  #fff;
		h3 {
			font-size: 38px;
			color: $lightgray;
			color: #983222;
			padding: 10px 10px 0 10px;
			background-color: #fff;
			.title {
				font-family: "Roboto", sans-serif;
				font-size: 13px;
				text-transform: uppercase;
				letter-spacing: 0;
				color: #5D595E;
				padding: 0 3px 10px 0;
			}
		}
		.bio-photo {
			padding: 0 0 10px 0;
			text-align: center;
			img {
				border: 1px solid #fff;
				max-height: 190px;
				margin: 0 auto;
			}
			p.small {
				margin-top: .5rem;
				margin-bottom: .5rem;
			}
		}
		.top-skills {
			text-align: center;
			margin: 0 auto;
			padding: 20px 10px 10px 10px;
			max-width: 95%;
			h4 {
				font-size: 14px;
				font-weight: 700;
				color: #fff;
				text-align: center;
				text-transform: uppercase;
				margin: .1rem 0;
			}
			p {
				font-size: 12px;
				font-weight: 300;
				text-transform: uppercase;
				line-height: .9rem;
				text-align: center;
				padding-left: 0;
				margin: 0 auto;
				padding: 0;
				span.space {
					padding-right: 7px;
				}
				strong {
					font-weight: 700;
				}
			}
		}
	}
}
#samples {
	color: $darkgray;
	.wrap-800 {
		background-color: #fff;
		padding: 20px 0 0 0;
		h3 {
			color: $medgray;
		}
		.intro {
			h4 {
				font-family: $Roboto;
				font-size: 30px;
				line-height: 1.5rem;
				letter-spacing: 2px;
				text-transform: uppercase;
				text-align: center;
				color: #fff;
				margin: 0 auto;
				text-shadow: 0 0 4px rgba(0, 0, 0, 0.8);
			}
		}
	}
}
.site-entry {
	padding-bottom: 40px;
	h1 {
		font-family: $Roboto;
		font-size: 40px;
		line-height: .9rem;
		text-align: right;
		color: #fff;
		font-weight: normal;
		margin-right: -10px;
		float: right;
		a {
			color: $lightgray;
			text-decoration: none;
		}
	}
}
.job-story {
	bottom: 20px;
	left: 0;
	position: absolute;
		p {
			margin: 0 0 .3rem 15px; }
	}
/* Samples */
.summary {
	max-width: 600px;
	margin: 0 auto;
	padding: 10px 15px 0 20px;
	h2 {
		margin-bottom: .3rem; 
	}
}
.content.open-house {
	h2 {
		padding: 0 10px;
	}
	img {
		padding: 0 10px;
	}
}
.quotes {
	padding: 30px 0;
	blockquote.blockquote {
		padding-bottom: 20px;
		p {
			line-height: 1.1rem;
			font-weight: 400;
			text-align: left;
			color: $darkgray;
			background-color: $lightgray;
		}
		footer.blockquote-footer {
			font-size: 12px;
			color: $darkgray;
			margin: 0;
			height: 25px;
			padding-top: 3px;
		}
		&footer.blockquote-footer {
			font-style: italic;
		}
		.bracket {
			color: $ltmedgray;
		}
	}	
}
.sample-buttons {
	text-align: center;
	margin: 1rem auto 0 auto;
	button {
		line-height: 1.4rem;
		letter-spacing: 1px;
		width: 140px;
		height: 40px;
		margin: 0 3px 10px 3px;
		border: none;
		background-color: $burgandy;
		transition-property: background;
		transition-duration: .7s;
		transition-timing-function: linear;
		&:hover {
			background-color: darken($burgandy, 10%);
			box-shadow: 0 0 2px 3px $yellow;
			transform: scale(1.01);
		}
	}	
}
.stickies {
	margin: 0 auto;
	padding: 0;
}
.note {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	padding: 0;
	margin-left: -3px;
	p {
		font-family: $Handwritten;
		font-size: 13px;
		line-height: 1rem;
		padding: 7px;
		background-color: $yellow;
		width: 120px;
    	height: 140px;
		margin: 0;
		box-shadow: 2px 2px 5px rgba(0, 0, 0, .4);
	}
}
/* Sample Projects page */
#work {
	position: static;
	background: url(../images/DaisysWeb.jpg) no-repeat left bottom;
	background-size: contain;
	background-color: $ltmedgray;
	.tinted-band {
		background-color: rgba(0,0,0,.4);
		min-height: 40px;
		width: 100%;
		padding: 10px 0;
		margin-bottom: 1rem;
	}
	.intro {
		width: 100%;
		margin: 0;
		h2 {
			font-family: $Oswald;
			font-size: 40px;
			line-height: .8em;
			text-align: center;
			letter-spacing: 5px;
			text-transform: uppercase;
			color: rgba(255,255,255,0.40);
			max-width: 90%;
			margin: 10px auto;
		}
	p.small {
		font-weight: 400;
		max-width: 320px;
		}
	}
	.sample-buttons {
		flex-direction: column;
		max-width: 210px;
		img {
			margin-top: 2rem;
			box-shadow: 0 0 2px 2px #fff;
			&:hover {
				box-shadow: 0 0 2px 3px $yellow;
				transform: scale(1.01)
			}
		}
		button {
			line-height: 1rem;
			height: 35px;
			width: 205px;
			margin: 0 0 3px 0;
			padding: 0 12px;
             border: 1px solid #fff;
		}
	}
	.other-samples {
		text-align: center;
		margin-top: 1rem;
		width: 100%;
		ul {
			text-align: center;
			padding-left: 0;
            margin-bottom: 0;
			li {
				font-size: 15px;
				letter-spacing: 1px;
				list-style: none;
				text-decoration: none;
				max-width: 210px;
				margin: 0 auto 5px auto;
				a {
					text-decoration: none;
					background-color: rgba(255,255,255,0.7);
					display: block;
					padding: 5px 7px;
					border: 1px solid #fff;
					border-radius: 4px;
                    height: 35px;
			        width: 205px;
				}
				a:hover {
					text-decoration: none;
					background-color: rgba(255,255,255,0.5);
                    color: $darkgray;
                    box-shadow: 0 0 2px 2px #f3e9a6;
                    transform: scale(1.01);
				}
			}
			li.first {
				font-family: $Oswald;
				font-size: 20px;
				letter-spacing: 1px;
				text-transform: uppercase;
				color: #983222;
				text-shadow: 0 0 3px rgba(255, 255, 255, 0.75);
				padding-bottom: 3px;
			}
		}
	}
}
#job-sample {
	.img-full {
		padding-bottom: 4rem;
		.wrap-800 img {
			margin-bottom: 0;
		}
	}
	h2 {
		a {
			color: #fff;
		}
		a:hover {
			color: $ltmedgray
		}
	}
}

/* Process Single page */
.process-single {
	.intro-block {
		padding-bottom: 10px;
		.intro-heading {
			border-bottom: none;
		}
	}
	/* BS scrollspy */
	#plan-menu-list {
		width: 30px;
		position: fixed;
		left: 0;
		top: 27%;
		z-index: 1000;
		box-shadow: 1px 1px 7px 1px rgba(0, 0, 0, 0.3);
		.list-group-item {
			font-family: $Oswald;
			font-weight: 400;
			text-align: center;
			text-decoration: none;
			padding: 3px;
			background-color: rgba(255,255,255,0.95);
			border-color: $ltmedgray;
		}
		.list-group-item.active {
			color: #fff;
			background-color: $burgandy;
		}
	}
	section.section  {
		position: relative;
		padding: 0 30px 30px 30px;
		min-height: 600px;
		img.hide {
			display: none;
		}
		.content {
			position: static;
            padding-bottom: 15px;
			.intro-block {
				padding-bottom: 0;
				.intro-heading {
					border: none;
				}
			}
			p {
				font-size: 15px;
				font-weight: 300;
			}
		
			h2 {
				font-size: 28px;
				line-height: 2rem;
			}
			i {
				color: $burgandy;
			}
			.shadow-text {
				position: static;
				p {
					font-family: $Roboto;
					font-size: 40px;
					text-align: left;
					color: $medgray;
					display: inline-block;
				}
			}
		}
		h1.number {
			font-size: 36px;
			line-height: 1em;
			letter-spacing: 3px;
			text-transform: uppercase;
			text-align: right;
			display: block;
			color: $medgray;
		}
		&.drkgry {
			background-color: $darkgray;
			p, h2 {
				color: #fff;
			}
			h1.number {
				color: rgba(255,255,255,0.3);
			}
			i {
				color: #fff;
			}
			shadow-text p {
				text-align: left;
				color: $ltmedgray;
			}
		}
	}
}
.research {
	max-width: 100%;
	background-color: #717171;
//	.research-img {
//		max-width: 100%;
//		background: url("../images/research.png") 0 0 no-repeat;
//		background-size: cover;
//		padding-bottom: 44%;
//        border-radius: 3px;
//	}
     .research-table {
        background-color: #fff;
        max-width: 100%;
        font-size: 9px;
         td {
             line-height: 1em;
             width: 200pxpx;
             padding-left: 5px;
         }
         td.large {
             width: 200px;
         }
    }
}
footer {
    height: $footer-height;
	width: 100%;
	background-color: #fff;
	padding: 15px 5px 5px 5px;
	bottom: 0;
	position: relative;
	p {
		font-size: 12px;
		text-align: center;
		line-height: 1rem;
		margin: 0;
		.linebreak {
			padding: 0 3px;
		}
	}
}
.wrap-800 {
	footer {
		max-width: 800px;
	}
}
#work {
	main + footer {
		position: absolute;
		bottom: 0;
		p {
			max-width: 960px;
			margin: 0 auto;
		}
	}
}
.back-top {
	width: 52px;
	background-color: $ltmedgray;
	position: absolute;
	bottom: 40px;
	right: 15px;
	opacity: .7;
	padding: 5px 3px 10px 3px;	
	box-shadow: 0 -2px 4px 0 rgba(0,0,0,.6);
	i {
		font-size: 1.2rem;
		text-align: center;
		width: 100%;
	}
	p {
		font-family: "Oswald", sans-serif;
		text-align: center;
		margin: 0;
		font-size: 30px;
		text-transform: uppercase;
		vertical-align: top;
		line-height: .7em;
		a {
			color: $darkgray;
			text-decoration: none;
		}
		a:hover {
			color: $burgandy;
			cursor: pointer;
		}
	}
}


// Small devices (iphone 6 and up)  Custom size
@media (min-width: 374px) { 
	p.small {
		max-width: 320px;
	}
	.stickies {
		.note {
			p {
				line-height: 1.1rem;
				width: 140px;
				padding: 10px;
				margin: 3px;
			}
		}
	}
}
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { 
#home {
		.wrap-800 {
			background: url("../images/DaisysSeparateWeb.png") no-repeat left bottom;
			background-size: 110%;
			background-position: center bottom;
			background-color: $darkgray;
		}
	}
}
.sample-buttons {
	margin: 4rem auto 0 auto;
}
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 
	h4 {
		max-width: 95%;
	}
	p.small {
		max-width: 400px;;
	}
	.linebreak {
		padding: 0 7px;
	}
	.intro-block {
		padding: 30px 30px 30px 30px;
		position: relative;
		h2 {
			font-size: 19px;
			margin: 0 0 1.2rem 14px;
		}
		.intro-heading {
			margin-top: 0;
			.navigation {
				text-align: right;
				max-height: 43px;
				padding: 0;
				margin: 13px -3px 0 0;
				background-color: transparent;
				position: absolute;
				top: -17px;
				right: 0;
				box-shadow: none;
			}
		}
	}
	.img-full {
		margin: 40px 0 0 0;
		padding: 0 30px 10px 30px;
		position: relative;
		.content {
			max-width: 1170px;
			margin: 60px auto 60px auto;
			padding-bottom: 0;
            position: relative;
            top: -40px;
		}
		.shadow-text {
			max-width: 100%;
			margin: 3px auto;
		}
	}
	#home {
		.wrap-800 {
			background: url("../images/DaisysSeparateWeb.png") no-repeat left bottom;
			background-size: contain;
			background-position: center bottom;
			background-color: $darkgray;
			.top-skills {
				max-width: none;
				p {
					max-width: 95%;
				}
				p.subhead {
					font-size: 16px;
				}
			}
			h3 {
				font-size: 37px;
				.title {
					font-size: 16px;
					letter-spacing: 2px;
					padding: 0 10px 10px 10px;
					&.ui {
						letter-spacing: 3px;
					}
				}
			}
		}
	}
    section.section {
        h1.number {
            padding-top: 20px;
        }
    }
	#samples {
		.summary {
			padding: 10px 0;
		}
	}
	.content.open-house {
		h2 {
			padding: 0;
		}
		h2 a,
		h2 a:hover {
			color: #fff;
		}
		img {
			padding: 0;
		}
	}
	.grad-ceremony img {
		max-height: 450px;
	}
	#work {
		background-size: auto;
        background-position: 10% bottom;
		.intro {
			margin: 0;
			h2 {
				letter-spacing: 20px;
				margin: 0 auto;
			}
		}
		.job-links {
			max-width: 960px;
			margin: 0 auto;
		}
        .other-samples {
            margin-top: 2rem;
        }
	}
	.intro {
		p {
			margin: 0 auto;
		}
		p.small {
			font-size: 16px;
			line-height: 1.2rem;
			max-width: 490px;
		}
	}
	.bio-photo {
		text-align: center;
	}
	.content {
		padding: 0 30px 30px 30px;
		max-width: 800px;
		padding-bottom: 70px;
	}
    img-full
	.research {
		max-width: 100%;
		overflow: hidden;
		max-height: 590px;
	}
//	.research-img {
//		max-width: 100%;
//		max-height: 590px;
//	}
	.stickies {
		max-width: 90%;
		.note {
			padding: 10px 0 10px 0px;
			margin-left: 0;
			justify-content: center;
			p {
				font-size: 15px;
				line-height: 1.2rem;
				width: 170px;
				height: 150px;
				margin: 5px;
			}
		}
	}
	.process-single {
		.intro-block {
			padding-bottom: 10px;
		}
		#plan-menu-list {
			width: 35px;
			top: 18%;
			left: 8px;
		}
	}
	
	blockquote.blockquote footer.blockquote-footer {
		margin-top: -17px;
	}
	.quotes {
		padding: 30px 0;
		text-align: center;
		blockquote.blockquote footer.blockquote-footer {
			margin-top: -12px;
			height: auto;
		}
	}
	footer {
		position: relative;
		bottom: 0;
		p {
			font-size: 13px;
		}
	}
}




/* ---------------------- 
// Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }     */