/* Scss Document */
@import url("https://fonts.googleapis.com/css?family=Gochi+Hand|Oswald|Roboto:300,300i,400&display=swap");
html {
  min-height: 100%;
  position: relative; }

body {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 300;
  color: #5D595E;
  background-color: #F2F2F2;
  position: relative; }

.wrap-800 {
  max-width: 800px;
  margin: 0 auto;
  background-color: #fff; }
  .wrap-800 .container-fluid {
    margin: 0;
    padding: 0; }

.wrap-1170 {
  max-width: 1170px;
  margin: 0 auto;
  background-color: #fff; }

.section {
  display: block;
  clear: both; }

.content {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 10px 10px 10px;
  position: relative; }
  .content p .row {
    margin-top: 30px; }

.graybg {
  background-color: #F2F2F2; }

.grnbg {
  background-color: #C7DED5; }

.tanbg {
  background-color: #F2F2F2; }

#user-test .wrap-1170, #user-test .wrap-800 {
  background-color: #F2F2F2; }

.rev {
  color: #fff;
  text-align: center; }
  .rev a, .rev a:hover {
    color: #fff; }

a:hover {
  color: #983222;
  text-decoration: none; }

p {
  font-family: "Roboto", sans-serif;
  text-align: left;
  line-height: 1.3rem;
  margin-bottom: .6rem; }

p.small {
  font-size: 13px;
  line-height: 1rem;
  font-style: italic;
  text-align: center;
  margin: 0 auto;
  padding: 0 15px;
  max-width: 320px; }

h1 {
  font-family: "Oswald", sans-serif;
  font-size: 26px;
  font-weight: 300;
  text-transform: uppercase;
  line-height: 1.6rem;
  letter-spacing: 2px;
  color: #983222;
  margin-bottom: .3rem; }

h2 {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.4rem;
  text-align: left;
  color: #5D595E;
  margin-top: 1rem; }
  h2 + h4 {
    margin-top: 1rem; }

.process-single h2 {
  text-align: center; }

h3 {
  font-family: "Oswald", sans-serif;
  font-size: 40px;
  text-transform: uppercase;
  text-align: center;
  color: #983222;
  margin: 0 auto; }

h4 {
  font-size: 21px;
  font-weight: 400;
  line-height: 1.4rem;
  text-align: left;
  color: #5D595E;
  border-bottom: 1px solid #983222;
  padding-bottom: 7px;
  margin-top: 3rem;
  margin-bottom: .8rem; }

ul {
  padding-inline-start: 20px; }

a {
  color: #5D595E;
  text-decoration: underline; }

.normal-weight {
  font-weight: 400; }

.first-letter {
  font-family: "Roboto", sans-serif;
  font-size: 50px;
  text-transform: uppercase;
  line-height: 1.8rem;
  color: #C8C5C5;
  float: left;
  padding: 0 4px 5px 0; }

blockquote.blockquote p {
  font-size: .7rem;
  line-height: 1.1rem;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.15);
  text-align: center;
  max-width: 80%;
  margin: 0 auto 0;
  padding: 10px;
  display: inline-block;
  vertical-align: middle; }
blockquote.blockquote a, blockquote.blockquote a:hover {
  color: #fff; }
blockquote.blockquote footer.blockquote-footer {
  font-size: .6rem;
  color: #fff;
  padding: 0;
  background-color: transparent;
  margin-top: 3px; }
blockquote.blockquote .bracket {
  font-family: Roboto;
  font-size: 4rem;
  color: #A5A5A5;
  margin: 0;
  display: inline-block;
  vertical-align: middle; }
blockquote.blockquote .bracket.right {
  margin: 5px; }

.linebreak {
  color: #A5A5A5;
  padding: 0 5px; }

.marquee {
  animation-timing-function: ease-in-out; }

.shadow-text {
  text-align: center;
  letter-spacing: 10px;
  margin: 2rem auto 0 auto;
  position: relative; }
  .shadow-text p {
    font-family: "Roboto", sans-serif;
    font-size: 30px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
    color: #A5A5A5;
    display: inline;
    padding: 0 10px;
    margin: 0;
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.8); }

img {
  max-width: 100%;
  margin-bottom: 10px;
  border-radius: 3px; }
  img.shadow {
    box-shadow: 0 -0.2rem 1rem rgba(0, 0, 0, 0.25) !important; }

.img-full {
  background-color: #5D595E;
  padding: 20px 10px 10px 10px;
  margin-top: 10px;
  position: relative; }
  .img-full .content {
    margin-top: -30px; }
    .img-full .content img {
      margin: 0 auto 10px auto;
      align-self: flex-start; }
    .img-full .content img.addy.shadow.shadow-drop-top {
      margin-bottom: 0 !important;
      padding-bottom: 0;
      max-width: 20%;
      float: right; }
    .img-full .content .col-md-12 {
      text-align: center; }
    .img-full .content .wrap-800 {
      background-color: transparent; }
      .img-full .content .wrap-800 h2 {
        margin-top: .2rem; }
  .img-full h2 {
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    margin-top: -.4rem;
    padding-bottom: 10px; }

.intro-block {
  padding: 40px 10px 5px 10px;
  position: relative; }
  .intro-block .intro-heading {
    border-bottom: 1px solid #A5A5A5;
    display: block;
    margin: 50px 0 0 0;
    position: relative; }
    .intro-block .intro-heading h1 {
      text-align: left;
      margin-top: .3rem; }
    .intro-block .intro-heading h2 {
      text-align: left;
      margin: 0; }
    .intro-block .intro-heading .navigation {
      text-align: center;
      margin: 0 auto;
      background-color: #fff;
      padding: 5px 0;
      top: 0;
      left: 0;
      right: 0;
      position: fixed;
      z-index: 999;
      box-shadow: 0 3px 6px 0px rgba(0, 0, 0, 0.1); }
      .intro-block .intro-heading .navigation img, .intro-block .intro-heading .navigation img.inactive, .intro-block .intro-heading .navigation img:hover {
        display: inline-block;
        width: 44px;
        height: 44px;
        margin: 0 3px; }
      .intro-block .intro-heading .navigation img:hover {
        box-shadow: 0 0 1px 2px #f3e9a6; }
      .intro-block .intro-heading .navigation img.inactive, .intro-block .intro-heading .navigation img.inactive:hover {
        opacity: 0.4;
        cursor: default; }
      .intro-block .intro-heading .navigation a {
        font-family: "Oswald", sans-serif; }
  .intro-block p.small {
    display: inline-block;
    clear: both; }

#home .wrap-800 {
  background-color: #5D595E;
  color: #fff; }
  #home .wrap-800 h3 {
    font-size: 38px;
    color: #F2F2F2;
    color: #983222;
    padding: 10px 10px 0 10px;
    background-color: #fff; }
    #home .wrap-800 h3 .title {
      font-family: "Roboto", sans-serif;
      font-size: 13px;
      text-transform: uppercase;
      letter-spacing: 0;
      color: #5D595E;
      padding: 0 3px 10px 0; }
  #home .wrap-800 .bio-photo {
    padding: 0 0 10px 0;
    text-align: center; }
    #home .wrap-800 .bio-photo img {
      border: 1px solid #fff;
      max-height: 190px;
      margin: 0 auto; }
    #home .wrap-800 .bio-photo p.small {
      margin-top: .5rem;
      margin-bottom: .5rem; }
  #home .wrap-800 .top-skills {
    text-align: center;
    margin: 0 auto;
    padding: 20px 10px 10px 10px;
    max-width: 95%; }
    #home .wrap-800 .top-skills h4 {
      font-size: 14px;
      font-weight: 700;
      color: #fff;
      text-align: center;
      text-transform: uppercase;
      margin: .1rem 0; }
    #home .wrap-800 .top-skills p {
      font-size: 12px;
      font-weight: 300;
      text-transform: uppercase;
      line-height: .9rem;
      text-align: center;
      padding-left: 0;
      margin: 0 auto;
      padding: 0; }
      #home .wrap-800 .top-skills p span.space {
        padding-right: 7px; }
      #home .wrap-800 .top-skills p strong {
        font-weight: 700; }

#samples {
  color: #5D595E; }
  #samples .wrap-800 {
    background-color: #fff;
    padding: 20px 0 0 0; }
    #samples .wrap-800 h3 {
      color: #A5A5A5; }
    #samples .wrap-800 .intro h4 {
      font-family: "Roboto", sans-serif;
      font-size: 30px;
      line-height: 1.5rem;
      letter-spacing: 2px;
      text-transform: uppercase;
      text-align: center;
      color: #fff;
      margin: 0 auto;
      text-shadow: 0 0 4px rgba(0, 0, 0, 0.8);
      border: none; }

.site-entry {
  padding-bottom: 40px; }
  .site-entry h1 {
    font-family: "Roboto", sans-serif;
    font-size: 40px;
    line-height: .9rem;
    text-align: right;
    color: #fff;
    font-weight: normal;
    margin-right: -10px;
    float: right; }
    .site-entry h1 a {
      color: #F2F2F2;
      text-decoration: none; }

.job-story {
  bottom: 20px;
  left: 0;
  position: absolute; }
  .job-story p {
    margin: 0 0 .3rem 15px; }

/* Samples */
.summary {
  max-width: 600px;
  margin: 0 auto;
  padding: 10px 15px 0 20px; }
  .summary h2 {
    margin-bottom: .3rem;
    text-align: left; }

.content.open-house h2 {
  padding: 0 10px; }
.content.open-house img {
  padding: 0 10px; }

.quotes {
  padding: 30px 0; }
  .quotes blockquote.blockquote {
    padding-bottom: 20px; }
    .quotes blockquote.blockquote p {
      line-height: 1.1rem;
      font-weight: 400;
      text-align: left;
      color: #5D595E;
      background-color: #F2F2F2; }
    .quotes blockquote.blockquote footer.blockquote-footer {
      font-size: 12px;
      color: #5D595E;
      margin: 0;
      height: 25px;
      padding-top: 3px; }
    .quotes blockquote.blockquotefooter.blockquote-footer {
      font-style: italic; }
    .quotes blockquote.blockquote .bracket {
      color: #C8C5C5; }

.sample-buttons {
  text-align: center;
  margin: 1rem auto 0 auto; }
  .sample-buttons button {
    line-height: 1.4rem;
    letter-spacing: 1px;
    width: 140px;
    height: 40px;
    margin: 0 3px 10px 3px;
    border: none;
    background-color: #983222;
    transition-property: background;
    transition-duration: .7s;
    transition-timing-function: linear; }
    .sample-buttons button:hover {
      background-color: #6e2419;
      box-shadow: 0 0 2px 3px #f3e9a6;
      transform: scale(1.01); }

.stickies {
  margin: 0 auto;
  padding: 0; }

.note {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  margin-left: -3px; }
  .note p {
    font-family: "Gochi Hand", cursive;
    font-size: 13px;
    line-height: 1rem;
    padding: 7px;
    background-color: #f3e9a6;
    width: 120px;
    height: 140px;
    margin: 0;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4); }

/* Sample Projects page */
#work {
  position: static;
  background: url(../images/DaisysWeb.png) no-repeat left bottom;
  background-size: contain;
  background-color: #C8C5C5; }
  #work .tinted-band {
    background-color: rgba(0, 0, 0, 0.4);
    min-height: 40px;
    width: 100%;
    padding: 10px 0;
    margin-bottom: 1rem; }
  #work .intro {
    width: 100%;
    margin: 0; }
    #work .intro h2 {
      font-family: "Oswald", sans-serif;
      font-size: 40px;
      line-height: .8em;
      text-align: center;
      letter-spacing: 5px;
      text-transform: uppercase;
      color: rgba(255, 255, 255, 0.4);
      max-width: 90%;
      margin: 10px auto; }
    #work .intro p.small {
      font-weight: 400;
      max-width: 320px; }
  #work .sample-buttons {
    flex-direction: column;
    max-width: 210px; }
    #work .sample-buttons img {
      margin-top: 2rem;
      box-shadow: 0 0 2px 2px #fff; }
      #work .sample-buttons img:hover {
        box-shadow: 0 0 2px 3px #f3e9a6;
        transform: scale(1.01); }
    #work .sample-buttons button {
      line-height: 1rem;
      height: 35px;
      width: 205px;
      margin: 0 0 3px 0;
      padding: 0 12px;
      border: 1px solid #fff; }
  #work .other-samples {
    text-align: center;
    margin-top: 1rem;
    width: 100%; }
    #work .other-samples ul {
      text-align: center;
      padding-left: 0;
      margin-bottom: 0; }
      #work .other-samples ul li {
        font-size: 15px;
        letter-spacing: 1px;
        list-style: none;
        text-decoration: none;
        max-width: 210px;
        margin: 0 auto 5px auto; }
        #work .other-samples ul li a {
          text-decoration: none;
          background-color: rgba(255, 255, 255, 0.7);
          display: block;
          padding: 5px 7px;
          border: 1px solid #fff;
          border-radius: 4px;
          height: 35px;
          width: 205px; }
        #work .other-samples ul li a:hover {
          text-decoration: none;
          background-color: rgba(255, 255, 255, 0.5);
          color: #5D595E;
          box-shadow: 0 0 2px 2px #f3e9a6;
          transform: scale(1.01); }
      #work .other-samples ul li.first {
        font-family: "Oswald", sans-serif;
        font-size: 20px;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: #983222;
        text-shadow: 0 0 3px rgba(255, 255, 255, 0.75);
        padding-bottom: 3px; }

#job-sample .img-full {
  padding-bottom: 4rem; }
  #job-sample .img-full .wrap-800 img {
    margin-bottom: 0; }
#job-sample h2 a {
  color: #fff; }
#job-sample h2 a:hover {
  color: #C8C5C5; }

/* Process Single page */
.process-single {
  /* BS scrollspy */ }
  .process-single .intro-block .intro-heading {
    border-bottom: none;
    text-align: center; }
  .process-single #plan-menu-list {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    flex-direction: row;
    justify-content: center; }
    .process-single #plan-menu-list .list-group-item {
      font-family: "Oswald", sans-serif;
      font-weight: 400;
      text-align: center;
      text-decoration: none;
      width: 44px;
      height: 44px;
      padding: 9px 0px;
      background-color: #fff;
      border-color: #C8C5C5;
      border-radius: 50%;
      box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.3);
      justify-content: center;
      margin: 10px 3px; }
    .process-single #plan-menu-list .list-group-item.active {
      color: #fff;
      background-color: #983222; }
  .process-single section.section {
    position: relative;
    padding: 50px 30px 10px 30px; }
    .process-single section.section img.hide {
      display: none; }
    .process-single section.section .content {
      position: static;
      padding-bottom: 15px; }
      .process-single section.section .content .intro-block {
        padding-bottom: 0; }
        .process-single section.section .content .intro-block .intro-heading {
          border: none; }
      .process-single section.section .content p {
        font-size: 15px;
        font-weight: 300; }
      .process-single section.section .content h2 {
        font-size: 26px;
        line-height: 1.8rem;
        margin-top: .3rem; }
      .process-single section.section .content i {
        color: #983222; }
      .process-single section.section .content .dkgry i {
        color: #fff; }
      .process-single section.section .content .shadow-text {
        position: static; }
        .process-single section.section .content .shadow-text p {
          font-family: "Roboto", sans-serif;
          font-size: 40px;
          text-align: left;
          color: #A5A5A5;
          display: inline-block; }
    .process-single section.section h1.number {
      font-size: 36px;
      line-height: 1em;
      letter-spacing: 3px;
      text-transform: uppercase;
      text-align: center;
      display: block;
      color: #A5A5A5; }
    .process-single section.section.drkgry {
      background-color: #5D595E; }
      .process-single section.section.drkgry p, .process-single section.section.drkgry h2, .process-single section.section.drkgry h4 {
        color: #fff; }
      .process-single section.section.drkgry h1.number {
        color: rgba(255, 255, 255, 0.3); }
      .process-single section.section.drkgry h4 {
        border-bottom-color: #F2F2F2; }
      .process-single section.section.drkgry i {
        color: #fff; }
      .process-single section.section.drkgry shadow-text p {
        text-align: left;
        color: #C8C5C5; }
      .process-single section.section.drkgry .stickies .note p {
        color: #5D595E; }

.research {
  max-width: 100%;
  max-height: 699px;
  max-height: 699px;
  margin: 0 auto; }
  .research.shadow {
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.25) !important; }
  .research .research-img {
    max-width: 100%;
    border-radius: 0; }
    .research .research-img img {
      margin-bottom: 0; }

footer {
  height: 40px;
  width: 100%;
  background-color: #fff;
  padding: 15px 5px 5px 5px;
  bottom: 0;
  position: relative; }
  footer p {
    font-size: 12px;
    text-align: center;
    line-height: 1rem;
    margin: 0; }
    footer p .linebreak {
      padding: 0 3px; }

.wrap-800 footer {
  max-width: 800px; }

#work main + footer {
  position: absolute;
  bottom: 0; }
  #work main + footer p {
    max-width: 960px;
    margin: 0 auto; }

.back-top {
  width: 52px;
  background-color: #C8C5C5;
  position: absolute;
  bottom: 12px;
  right: 0;
  opacity: .5;
  padding: 5px 3px 10px 3px;
  box-shadow: 0 -2px 4px 0 rgba(0, 0, 0, 0.6); }
  .back-top i {
    font-size: 1.2rem;
    text-align: center;
    width: 100%; }
  .back-top p {
    font-family: "Oswald", sans-serif;
    text-align: center;
    margin: 0;
    font-size: 30px;
    text-transform: uppercase;
    vertical-align: top;
    line-height: .7em; }
    .back-top p a {
      color: #5D595E;
      text-decoration: none; }
    .back-top p a:hover {
      color: #983222;
      cursor: pointer; }

@media (min-width: 374px) {
  p.small {
    max-width: 320px; }

  .stickies .note p {
    line-height: 1.1rem;
    width: 140px;
    padding: 10px;
    margin: 3px; } }
@media (min-width: 576px) {
  #home .wrap-800 {
    background: url("../images/DaisysSeparateWeb.png") no-repeat left bottom;
    background-size: 110%;
    background-position: center bottom;
    background-color: #5D595E; } }
.sample-buttons {
  margin: 4rem auto 0 auto; }

@media (min-width: 768px) {
  h2 {
    text-align: left; }

  .process-single h2 {
    text-align: left; }

  h4 {
    max-width: 95%; }

  p.small {
    max-width: 400px; }

  ul {
    padding-inline-start: 40px; }

  .linebreak {
    padding: 0 7px; }

  .intro-block {
    padding: 30px 30px 30px 30px;
    position: relative; }
    .intro-block h2 {
      font-size: 19px;
      margin: 0 0 1.2rem 14px; }
    .intro-block .intro-heading {
      margin-top: 0;
      padding-top: 10px; }
      .intro-block .intro-heading .navigation {
        text-align: right;
        max-height: 43px;
        padding: 0;
        margin: 13px -3px 0 0;
        background-color: transparent;
        position: absolute;
        top: -3px;
        right: 0;
        box-shadow: none; }
        .intro-block .intro-heading .navigation img, .intro-block .intro-heading .navigation img.inactive, .intro-block .intro-heading .navigation img:hover {
          width: 32px;
          height: 32px;
          margin: 0 1px; }

  .img-full {
    margin: 40px 0 0 0;
    padding: 0 30px 10px 30px;
    position: relative; }
    .img-full .content {
      max-width: 1170px;
      margin: 60px auto 0 auto;
      padding-bottom: 0;
      position: relative;
      top: -40px; }
    .img-full .shadow-text {
      max-width: 100%;
      margin: 3px auto; }

  #home .wrap-800 {
    background: url("../images/DaisysSeparateWeb.png") no-repeat left bottom;
    background-size: contain;
    background-position: center bottom;
    background-color: #5D595E; }
    #home .wrap-800 .top-skills {
      max-width: none; }
      #home .wrap-800 .top-skills p {
        max-width: 95%; }
      #home .wrap-800 .top-skills p.subhead {
        font-size: 16px; }
    #home .wrap-800 h3 {
      font-size: 37px; }
      #home .wrap-800 h3 .title {
        font-size: 16px;
        letter-spacing: 2px;
        padding: 0 10px 10px 10px; }
        #home .wrap-800 h3 .title.ui {
          letter-spacing: 3px; }

  .process-single section.section {
    padding-top: 10px; }
    .process-single section.section h1.number {
      text-align: right; }
  .process-single .intro-block {
    padding: 10px;
    text-align: left; }
  .process-single #plan-menu-list {
    position: fixed;
    bottom: inherit;
    left: 0;
    right: inherit;
    flex-direction: column;
    justify-content: left; }
    .process-single #plan-menu-list .list-group-item {
      width: 44px;
      height: 44px;
      padding: 9px 0px;
      justify-content: left;
      margin: 3px 3px; }

  #samples .summary {
    padding: 10px 0; }

  .content.open-house h2 {
    padding: 0; }
  .content.open-house h2 a,
  .content.open-house h2 a:hover {
    color: #fff; }
  .content.open-house img {
    padding: 0; }

  .grad-ceremony img {
    max-height: 450px; }

  #work {
    background-size: auto;
    background-position: 5% bottom; }
    #work .intro {
      margin: 0; }
      #work .intro h2 {
        letter-spacing: 20px;
        margin: 0 auto; }
    #work .job-links {
      max-width: 960px;
      margin: 0 auto; }
    #work .other-samples {
      margin-top: 2rem; }

  .intro p {
    margin: 0 auto; }
  .intro p.small {
    font-size: 16px;
    line-height: 1.2rem;
    max-width: 490px; }

  .bio-photo {
    text-align: center; }

  .content {
    padding: 0 30px 30px 30px;
    max-width: 800px;
    padding-bottom: 10px; }

  img-full
  .research {
    max-width: 100%;
    overflow: hidden;
    max-height: 590px; }

  .stickies {
    max-width: 100%; }
    .stickies .note {
      padding: 10px 0 10px 0px;
      margin-left: 0;
      justify-content: center; }
      .stickies .note p {
        font-size: 18px;
        line-height: 1.4rem;
        width: 210px;
        height: 180px;
        margin: 5px; }

  .process-single .intro-block {
    padding: 30px 30px 10px 30px; }
  .process-single #plan-menu-list {
    width: 35px;
    top: 18%;
    left: 8px; }

  blockquote.blockquote footer.blockquote-footer {
    margin-top: -17px; }

  .quotes {
    padding: 30px 0;
    text-align: center; }
    .quotes blockquote.blockquote footer.blockquote-footer {
      margin-top: -12px;
      height: auto; }

  footer {
    position: relative;
    bottom: 0; }
    footer p {
      font-size: 13px; } }
/* ---------------------- 
// Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }     */

/*# sourceMappingURL=portfolio.css.map */
